.loginScreen{
    display: flex;
    flex-direction: column;
    place-items:center;
    gap:40px;
    /* overflow-x: hidden; */
}
.loginScreen_left>a>img{
    object-fit: contain;
    padding-left: 40px;
    padding-right: 40px;
    height: 90px;
    border-radius: 30%;
}
.loginScreen_left{
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06),
    0 0 2px rgba(0, 0, 0, 0.07);
    height: 101px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}
.loginScreen_right{
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.06),0 2px 4px 0 rgba(0, 0, 0, 0.07);
    border-radius: 12px;
    height: 400px;
    max-width: 500px;
    margin-bottom: 20px;
    background-color: #faf0e6;
    color: white;
}
.loginScreen_right:hover{
    background-color: white;
}
.loginScreen_right{
    padding: 50px;
}
.loginScreen_input{
    width: 100%;
}
.loginForm{
    position: relative;
    width: 100%;
}
.loginForm>button{
    margin-top: 50px;
    position: absolute;
    right: 0;
}
.loginScreen_links{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.3px;
}
.loginScreen_links>.new_one{
    margin-top: 10px;
    color:yellowgreen
}
.loginScreen>.login_section{
    font-size: 22px;
    font-weight: 800;
}
.loginScreen_inputContainer>.loginScreen_input{
    position: relative;
    margin-bottom: 14px;
}
.loginScreen_error {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: smaller;
  }
  
.loginScreen_error > .MuiSvgIcon-root {
    color: #e75b52;
  }
  
.loginScreen_reportError{
    position: absolute;
    right: 8px;
    top: 0;
    transform: translateY(100%);
}
  
.loginScreen_visibilityIcon{
    cursor: pointer;
    color: gray;
    position: absolute;
    right: 10%;
    top:0;
    transform: translateY(350%);
}